@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #09090B;
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #E50914;
    border-radius: 20px;
}

::-webkit-scrollbar-track {
    background: #111;
}

/* Hero Heading */

.hero-title {
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 3px;
}

/* Red Glow */

.red-glow {
    position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle,
            rgba(229, 9, 20, 0.35),
            transparent 70%);
    filter: blur(80px);
}

/* Floating Animation */

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }
}

.float {
    animation: float 5s ease-in-out infinite;
}

/* Infinite Poster Movement */

@keyframes slide {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.poster-slide {
    animation: slide 45s linear infinite;
}

/* Scroll Indicator */

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.scroll-indicator {
    animation: bounce 1.8s infinite;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #09090B;
}

body::-webkit-scrollbar-thumb {
  background: #E50914;
  border-radius: 999px;
}
/* Hide scrollbar */

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.upcoming-scroll {
    display: flex;
    width: max-content;
    animation: upcomingScroll 80s linear infinite;
}

.upcoming-scroll:hover {
    animation-play-state: paused;
}

@keyframes upcomingScroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
